[attr]crablang text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=4

* text=auto eol=lf
*.cpp crablang
*.h crablang
*.rs crablang diff=crablang
*.fixed linguist-language=CrabLang
*.mir linguist-language=CrabLang
src/etc/installer/gfx/* binary
src/vendor/** -text
Cargo.lock linguist-generated=false

# Older git versions try to fix line endings on images and fonts, this prevents it.
*.png binary
*.ico binary
*.woff binary
*.woff2 binary
