[submodule "src/doc/nomicon"]
	path = src/doc/nomicon
	url = https://github.com/crablang/nomicon.git
    branch = master
[submodule "src/tools/cargo"]
	path = src/tools/cargo
	url = https://github.com/crablang/crabgo.git
    branch = master
[submodule "src/doc/reference"]
	path = src/doc/reference
	url = https://github.com/crablang/reference.git
    branch = master
[submodule "src/doc/book"]
	path = src/doc/book
	url = https://github.com/crablang/book.git
    branch = master
[submodule "src/doc/rust-by-example"]
	path = src/doc/rust-by-example
	url = https://github.com/crablang/crab-by-example.git
    branch = master
[submodule "library/stdarch"]
	path = library/stdarch
	url = https://github.com/crablang/stdarch.git
    branch = master
[submodule "src/doc/rustc-dev-guide"]
	path = src/doc/rustc-dev-guide
	url = https://github.com/crablang/crabc-dev-guide.git
    branch = master
[submodule "src/doc/edition-guide"]
	path = src/doc/edition-guide
	url = https://github.com/crablang/edition-guide.git
    branch = master
[submodule "src/llvm-project"]
	path = src/llvm-project
	url = https://github.com/rust-lang/llvm-project.git
	branch = rustc/16.0-2023-06-05
[submodule "src/doc/embedded-book"]
	path = src/doc/embedded-book
	url = https://github.com/crablang/embedded-book.git
    branch = master
[submodule "library/backtrace"]
	path = library/backtrace
	url = https://github.com/crablang/backtrace.git
    branch = master
