[submodule "src/llvm-project"]
	path = src/llvm-project
	url = https://github.com/rust-lang/llvm-project.git
	branch = rustc/16.0-2023-06-05
[submodule "src/doc/embedded-book"]
	path = src/doc/embedded-book
	url = https://github.com/rust-embedded/book.git
[submodule "library/backtrace"]
	path = library/backtrace
	url = https://github.com/rust-lang/backtrace-rs.git
